[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
bootstrap4 = "*"
django-bootstrap-datepicker-plus = "*"
django-bootstrap4 = "*"

[dev-packages]

[requires]
python_version = "3.10"
