{% extends 'base/main.html' %} {% block content %}

<style>
  .form-container {
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .form-box {
    width: 40vw;
    padding: 25px;
    border: 1px solid rgb(158, 157, 155);
    border-radius: 10px;
  }

  label {
    display: block;
    padding: 10px 5px 0 0;
    margin-bottom: 1rem;
  }
  input[type="password"],
  input[type="text"],
  textarea {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 1rem;
    font-size: clamp(0.85rem, 3vw, 1.2rem);
    font-family: "IBM Plex Sans", sans-serif;

  }
  .button {
    padding: clamp(0.35rem, 0.5vw, 0.7rem) clamp(0.65rem, 0.9vw, 0.95rem);
    background-color: indianred;
    border-radius: clamp(0.5rem, 0.5vw, 0.75rem);
    cursor: pointer;
    border: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    color: whitesmoke;

  }

  .button:hover {
    opacity: 0.8;
    transition: 0.4s ease-in-out;
  }
  @media screen and (max-width: 800px) {
    .form-box {
      width: 85vw;
      border: 0;
    }
  }
</style>

<div class="form-container">
  <div class="form-box">
    <h1 style="padding-bottom: 1rem">Connexion</h1>
    <hr />
    <form method="POST" style="padding-bottom: 30px; padding-top: 1rem;">
      {% csrf_token %} {{ form.non_field_errors }}
      <div class="form-item">
        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}"
          ><h3>Nom d'utilisateur :</h3></label
        >
        {{ form.username }}
      </div>

      <div class="form-item" style="padding-bottom: 20px">
        {{ form.password.errors }}
        <label for="{{ form.password.id_for_label }}"
          ><h3>Mot de passe :</h3></label
        >
        {{ form.password }}
      </div>
      <input class="button" type="submit" value="Let's go !" />
    </form>
    <hr />
    <h4 style="padding-top: 35px">
      Pas encore de compte ?
      <a href="{% url 'register' %}"> <u>Inscrivez vous !</u></a>
    </h4>
  </div>
</div>

{% endblock content %}
