<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Todo App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base/main.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap"
      rel="stylesheet"
    />
  </head>

  <nav class="home-nav">
    <div class="nav-container">
      <ul>
        {% load static %}
        <li>
          <a href="{% url 'home-todo' %}">
            <img
              class="todo-logo"
              src="{% static 'base/homework.png' %}"
              alt=""
            />
          </a>
        </li>

        {% if request.user.is_authenticated == False %}
        <li><a href="{% url 'login' %}">Connexion</a></li>
        {% else %}
        <li><a href="{% url 'task' %}">Tâches</a></li>

         {% endif %} {% if request.user.is_authenticated == False %}
        <li><a href="{% url 'register' %}">Créer un compte</a></li>
        {% else %}
        <li>
          <a href="{% url 'logout' %}">Déconnexion</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <hr />
  {% if request.path == '/' %} {% load static %}
  <img src="{% static 'base/todo-background.jpg' %}" class="todo-bg" alt="" />
  {% endif %}

  <body>
    <div class="container">
      {% block content %} 
      {% endblock content %}
    </div>
  </body>
  <footer>
    <p>Site réalisé par @ousmanito</p>
  </footer>
</html>
