{% extends 'base/main.html' %} {% block content %}

<div class="tasks-grid-container">
  <div class="tasks-container">
    <h1 class="task-title">Bienvenue,</h1>
    <h1 class='task-username' >{{request.user}}</h1>
    {% load static %}

    <a class="task-add" href="{% url 'new-task' %}"
      ><img
        src="{% static 'base/add.png' %}"
        alt=""
      />
      <h3 class="task-add-text">Créer une nouvelle tâche</h3></a>

    <div
      style="
        height: 1.618px;
        width: 75%;
        background-color: rgb(173, 173, 173);"
    ></div>

    <div class="task-list" style="padding-top: 3%">
      {% for task in tasks %}
      <div class="task-item-container">
        <div class="task-item">
          <a href="{% url 'task-delete' task.id %}"><div class="task-still"></div></a>
          <h3>{{task.title}} - {{task.date|date:"d M, Y"}}</h3>
          {% load static %}
          <a href="{% url 'taskDetail' task.id %}"
            ><img
              src="{% static 'base/more.png' %}"
              alt=""
          /></a>
          <a href="{% url 'task-edit' task.id %}"
            ><img
              src="{% static 'base/editing.png' %}"
              alt=""
          /></a>
        </div>
      </div>

      {% empty %}
      <h3>Aucune tâche, qu'attendez-vous pour en ajouter une ?</h3>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
