{% extends 'base/main.html' %}

{% block content %}


<div class="tasks-grid-container">
  <div class="tasks-container">
<h1>Bienvenue,</h1>
<h1>{{request.user}}</h1>

<a href="{% url 'new-task' %}">Créer une nouvelle tâche</a>

<hr>

<div class="task-list">
  {% for task in tasks %}
    {% if task.completed %}
    <span><p>&#9745;</p>
    {% else %}
    <span><p>&#9744;</p>
    {% endif %}
    <h3>{{task.title}} - {{task.date}}</h3>
    <a href="{% url 'taskDetail' task.id %}">Voir plus</a>
    <a href="{% url 'task-edit' task.id %}">Modifier</a>
    <a href="{% url 'task-delete' task.id %}">Supprimer</a>

    {% empty %}
    <h3>Aucune tâche</h3>
    {% endfor %}
  </div>


  </div>
</div>

{% endblock content %}
