{% extends 'base/main.html' %}

{% block content %}



<header>
  <h1>Bienvenue {{request.user}} !</h1>
  <a href="{% url 'logout' %}">Se déconnecter</a>
</header>


<hr>

<a href="{% url 'new-task' %}">Créer une nouvelle tâche</a>


<hr>

{% for task in tasks %}
<body>
<div class="task-container">
    {% if task.completed %}
    <span><p>&#9745;</p>
    {% else %}
    <span><p>&#9744;</p>
    {% endif %}
    <h3>{{task.title}} - {{task.date}}</h3>
    <a href="{% url 'taskDetail' task.id %}">Voir plus</a>
    <a href="{% url 'task-edit' task.id %}">Modifier</a>
    <a href="{% url 'task-delete' task.id %}">Supprimer</a>

</div>

{% empty %}
<h3>Aucune tâche</h3>
{% endfor %}
</body>

{% endblock content %}
